VITE_SUPABASE_URL=https://ewzpgjjnoovyjxbpnzji.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV3enBnampub292eWp4YnBuemppIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc2MDM5NzQsImV4cCI6MjA4MzE3OTk3NH0.dj0PGVOy85N23Qb1JUVeUAmJJwI8ecmZnIv5kJfmP50
